<div class="row">
    <div class="col-md-4">
        <div class="quiz-box">
            <h2>Basic Shapes</h2>
            <p>Before we get serious lets see if you can handle basic css shapes.</p>
            <p>
                <a class="btn-fullwidth btn btn-primary" href="/quizzes/basicshapes/">Start!</a>
            </p>
        <div>
    </div>
</div>