<div class="row">
    <div class="col-md-12 center-text">
        <h1 id="site-title">Cascading Style Quiz</h1>
    </div>
    <div class="col-md-4">
        <div class="quiz-box">
            <h2>Basic Shapes</h2>
            <p>Before we get serious, let's see if you can handle basic css shapes.</p>
            <p>
                <a class="btn-fullwidth btn btn-success" href="/quizzes/basicshapes/">Start!</a>
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="quiz-box">
            <h2>Duck's House</h2>
            <p>Duck needs a house. Let's build Duck a house!</p>
            <p>
                <a class="btn-fullwidth btn btn-success" href="/quizzes/house/">Start!</a>
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="quiz-box">
            <h2>Animations</h2>
            <p>Let's see if you can get things moving.</p>
            <p>
                <a class="btn-fullwidth btn btn-success" href="/quizzes/animations/">Start!</a>
            </p>
        </div>
    </div>
</div>