<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS!</title>
</head>
<body>
    <div class="container">
        <div id="css">

            <script id="cssview" type="html/template">
                <div class="cssview" id="<%%= id %>">
                    <%%= html %>
                </div>
            </script>

        </div>
        <div id="css-try">

            <div id="editor">
                <div id="cssbox">
                    <script id="codebox" type="html/template">
                        <pre><%%= before %></pre>
                        <textarea class="code" rows="<%%= rows %>" id="<%%= id %>"></textarea>
                        <pre><%%= after %></pre>
                    </script>
                </div>

            </div>

        </div>
    </div>
</body>
</html>