<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS!</title>
</head>
<body>
    <div class="container">
        <div id="css">

            <div class="cssview" id="user-css">
                <div class="user-circle" id="user-circle"></div>
            </div>

            <div class="cssview" id="example-css">
                <div class="circle"></div>
            </div>

        </div>
        <div id="css-try">

            <div id="editor">
                <div id="cssbox">
                    <div class="line-numbers">1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10</div>

                    <pre id="before">#circle {<br/>  height: 150px;<br/>  width: 150px;<br/>  border: 5px solid black;</pre>
                    <textarea id="code" autofocus></textarea>

                    <pre id="after">}</pre>

                </div>

            </div>

        </div>
    </div>
</body>
</html>