<!-- <nav class="col-md-4 center-row">
    <ul class="pagination">
    <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav> -->

<div class="col-md-12 center-row center-text">
    <h1 id="quizTitle"></h1>
</div>

<div class="col-md-12 center-row center-text">
    <h3 id="quizQuestion"></h3>
</div>

<div class="quiz-container">
    <div id="css"></div>
    <div id="css-try">

        <div id="editor">
            <div id="cssbox"></div>
        </div>

    </div>
</div>

<button class="btn btn-disabled btn-next-level center-block" id="nextLevelBtn">Next</button>

<script id="cssview" type="html/template">
    <div class="cssview" id="<%%= id %>">
        <%%= html %>
    </div>
</script>

<script id="codebox" type="html/template">
    <pre><%%= before %></pre>
    <textarea class="code" rows="<%%= rows %>" id="<%%= id %>"></textarea>
    <pre><%%= after %></pre>
</script>

<!--
<script id="codebox" type="html/template">
    <textarea class="stylesheetcode" rows="<%%= beforerows %>" disabled><%%= before %></textarea>
    <textarea class="stylesheetcode code" rows="<%%= rows %>" id="<%%= id %>"></textarea>
    <textarea class="stylesheetcode" rows="<%%= afterrows %>" disabled><%%= after %></textarea>
</script>
-->